@font-face {
   font-family: 'Tajawal-Regular';
   font-display: swap;
   src: url('file:///C:/Users/LAMINE/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-06_021358/fonts/Tajawal-Regular/font.ttf');
}
